/* Set our body background to white */
html {
    font-size: 10px;
}

body {
    background-color: white;
}

/* Sets our heading 1 font using our Adobe Font, Massilia, will default to Sans-Serif text if Massilia cannot be read */
h1 {
    color: #038C33;
    text-align: center;
    font-family: "massilia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}

/* Sets our heading 2 font using our Adobe Font, Dunbar Low, will default to Sans-Serif text if Dunbar Low cannot be read */
h2 {
    color: #038C33;
    text-align: center;
    font-family: "dunbar-low", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3.2rem;
}

/* Sets our paragraph font using our Adobe Font, Dunbar Low, will default to Sans-Serif text if Dunbar Low cannot be read */
p {
    color: #038C33;
    text-align: center;
    font-family: "dunbar-low", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
}

nav {
    max-width: 98vw;
    margin: 0 auto;
    height: 50px;
}

.logo {
    position: relative;
    width: 100%;
}

.logo-container {
    position: relative;
    top: 5px;
    float: left;
}

main {
    max-width: 95vw;
    height: 971px;
}

#about-us {
    max-width: 90vw;
    height: 340px;
    margin: 0 auto;
    position: relative;
}

#our-services {
    max-width: 90vw;
    height: 340px;
    margin: 0 auto;
}

#contact-us {
    max-width: 90vw;
    height: 279px;
    margin: 0 auto;
}

footer {
    background-color: #D98032;
    width: 100%;
    height: 6.5vh;
    position: relative;
    margin: 0 auto;
    padding: 0px;
}


a.nav:link, a.nav:visited {
    color: black;
    text-decoration: none; /* Removes the underline for our hyperlinks */
}

a.nav:hover, a.nav:active {
    color: #B9D989;
}

a.btn:link, a.btn:visited {
    background-color: #D98032;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none; 
    color: white;
}

a.btn:hover, a.btn:active {
    background-color: #B9D989;
    color: white;
}

.footer-text {
    color: white;
}


/* Media Queries */
@media screen and (min-width: 1438px) {
    body {
        background-color: white;
    }

    h1 {
        font-size: 4.8rem;
    }

    nav {
        max-width: 100vw;
        margin: 0 auto;
        height: 200px;
    }

    nav ul {
        position: relative;
        float: right;
        padding: 100px 0px 10px 0px;
    }
    
    nav li {
        color: black;
        text-align: center;
        text-decoration: none;
        font-family: "massilia", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        list-style-type: none;
        float: left;
        padding: 10px 20px 0px 0px;
    }

    /* Top Section Content  */
    .main-header-container {
        height: 340px;
        position: relative;
        float: left;
        left: 3%;
        top: 42px;
        padding-right: 2%;
        max-width: fit-content;
    }

    .image-content-container {
        position: relative;
        max-width: 55vw;
        height: 340px;
        float: right;
        right: 50px;
    }
    
    .top-image {
        float: left;
        padding-right: 50px;
        padding-left: 10px;
    }

    .top-content-container {
        max-width: 35vw;
        height: 340px;
        position: relative;
        float: right;
        right: 15px;
    }

    .book-appt {
        position: relative;
        top: 5px;
    }

    .about-us-header {
        position: relative;
        top: 20px;
    }

    .about-us-paragraph {
        position: relative;
        top: 5px;

    }

    /* Middle Section Content */
    .middle-image-content-container {
        position: relative;
        max-width: 100vw;
        height: 340px;
        float: left;
        left: 10%;
    }

    .middle-content-container {
        height: 340px;
        position: relative;
        float: left;
        top: 10px;
        right: 2.5%;
    }

    .our-services-header {
        position: relative;
        top: 20px;
    }

    .our-services-paragraph {
        position: relative;
        top: 5px;
    }
    
    .center-image {
        position: relative;
        float: right;
        left: 5%;
    }

    /* Bottom Section Content */
    .bottom-image-content-container {
        position: relative;
        float: right;
        max-width: 100vw;

    }

    .bottom-content-container {
        position: relative;
        max-width: 35vw;
        height: 279px;
        float: right;
        right: 8%;
    }

    .bottom-image {
        position: relative;
        float: left;
        right: 13%;
    }

    .contact-us-header {
        position: relative;
        top: 20px;
    }

    .contact-us-paragraph {
        position: relative;
        top: 5px;
    }

    .contact-us-btn {
        position: relative;
        top: 5px;
    }

    /* Footer Section */
    .footer-text {
        position: relative;
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        left: 2%;
        top: 18px;
    }
    
    .social-container {
        position: relative;
        float: right;
        right: 2%;
        top: 7px;
    }
}

@media screen and (max-width: 1437px) {
    body {
        background-color: white;
    }

    h1 {
        font-size: 3.8rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.9rem;
    }

    nav {
        max-width: 100vw;
        margin: 0 auto;
        height: 200px;
        border: 2px solid blue;
    }

    nav ul {
        position: relative;
        float: right;
        padding: 100px 0px 10px 0px;
    }
    
    nav li {
        color: black;
        text-align: center;
        text-decoration: none;
        font-family: "massilia", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        list-style-type: none;
        float: left;
        padding: 10px 20px 0px 0px;
    }

    /* Top Section Content */
    .main-header-container {
        height: 340px;
        position: relative;
        float: left;
        left: 4%;
        top: 80px;
        padding-right: 2%;
    }

    .image-content-container {
        position: relative;
        max-width: 55vw;
        height: 340px;
        float: right;
        right: 50px;
    }
    
    .top-image {
        float: left;
        padding-right: 30px;
        padding-left: 10px;
        width: 292px;
        height: 329px;
        object-fit: cover;
    }

    .top-content-container {
        max-width: 35vw;
        height: 340px;
        position: relative;
        float: right;
        right: 15px;
    }

    .book-appt {
        position: relative;
        top: 5px;
    }

    .about-us-header {
        position: relative;
        top: 20px;
    }

    .about-us-paragraph {
        position: relative;
        top: 5px;

    }

    /* Middle Section Content */
    .middle-image-content-container {
        position: relative;
        max-width: 100vw;
        height: 340px;
        float: left;
        left: 10%;
    }

    .middle-content-container {
        height: 340px;
        position: relative;
        float: left;
        top: 10px;
        right: 2.5%;
    }

    .our-services-header {
        position: relative;
        top: 20px;
    }

    .our-services-paragraph {
        position: relative;
        top: 5px;
    }
    
    .center-image {
        position: relative;
        float: right;
        left: 5%;
        object-fit: cover;
    }

    /* Bottom Section Content */
    .bottom-image-content-container {
        position: relative;
        float: right;
        max-width: 100vw;

    }

    .bottom-content-container {
        position: relative;
        max-width: 35vw;
        height: 279px;
        float: right;
        right: 8%;
    }

    .bottom-image {
        position: relative;
        float: left;
        right: 13%;
        object-fit: cover;
    }

    .contact-us-header {
        position: relative;
        top: 20px;
    }

    .contact-us-paragraph {
        position: relative;
        top: 5px;
    }

    .contact-us-btn {
        position: relative;
        top: 5px;
    }

    /* Footer Section */
    .footer-text {
        position: relative;
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        left: 2%;
        top: 18px;
    }
    
    .social-container {
        position: relative;
        float: right;
        right: 2%;
        top: 7px;
    }
}

/*@media screen and (min-width: 828px) {
    body {
        background-color: #038C33;
    }
}*/

/*@media screen and (min-width: 480px) {
    body {
        background-color: blue;
    }

    /*nav {
        max-width: 98vw;
        margin: 0 auto;
        height: 200px;
        background-color: aqua;
    }

    nav ul {
        position: relative;
        float: right;
    }
    
    nav li {
        color: black;
        text-align: center;
        text-decoration: none;
        font-family: "massilia", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        list-style-type: none;
        padding: 10px 20px 0px 0px;
    }
    
    a.nav:link, a.nav:visited {
        color: black;
        text-decoration: none;
    }
    
    a.nav:hover, a.nav:active {
        color: #B9D989;
    }
    
    a.btn:link, a.btn:visited {
        background-color: #D98032;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none; 
        color: white;
    }
    
    a.btn:hover, a.btn:active {
        background-color: #B9D989;
        color: white;
    }
}*/ 

/* @media screen and (min-width: 0px) {
    body {
        background-color: blue;
    }

    nav {
        height: 200px;
    }

    .logo {
        position: relative;
        left: 20px;
    }

    nav ul {
        position: relative;
        float: right;
    }
    
    nav li {
        color: black;
        text-align: center;
        text-decoration: none;
        font-family: "massilia", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        list-style-type: none;
        padding: 10px 20px 0px 0px;
    }
    
    a.nav:link, a.nav:visited {
        color: black;
        text-decoration: none;
    }
    
    a.nav:hover, a.nav:active {
        color: #B9D989;
    }
    
    a.btn:link, a.btn:visited {
        background-color: #D98032;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none; 
        color: white;
    }
    
    a.btn:hover, a.btn:active {
        background-color: #B9D989;
        color: white;
    }
}*/
